
.sliderLContainer {
    height: 100px;
    overflow: hidden;
    position: relative;
    /* z-index: -1; */
}

.sliderSContainer {
    width: 300%; height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    overflow: hidden;
    position: absolute;
    animation: logoSlider 10s linear infinite;
    background-color: #02040a;
    /* z-index: -1; */
}
.sliderSContainer:hover {
    animation-play-state: paused;
}
.lsImgContainer {
    height: 100px;
    width: 100px;
    background-color: #02040a;
}
.myTextGradient {
    /* background: rgb(174,112,236);
    background: linear-gradient(350deg, rgba(174,112,236,1) 0%, rgba(1,222,190,1) 100%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: myGradientAnimation 3.5s linear infinite;

}
.skillLogoAnim {
    transition: transform 500ms ease-in-out;
    z-index: 1;
}
.skillLogoAnim:hover {
    transform: scale(1.2);
}


@keyframes logoSlider {
    0%{
        left: 0;
    }
    100% {
        left: -151%;
    }
}
@keyframes logoSlider2 {
    0%{
        left: 0;
    }
    100% {
        left: -302%;
    }
}

@keyframes myGradientAnimation {
    0% {
        color: #3acec3;
    }
    25% {
        color: #60b5cc;
    }
    50% {
        color: #8394d8;
    }
    75% {
        color: #9e7be4;
    }
    100% {
        color: #3acec3;
    }
}
@media only screen and (max-width: 991px) {
    .mobileSkillCol {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 800px) {
    .sliderSContainer {
        width: 600%;
        animation-name: logoSlider2;
        /* gap: 20px; */
    }
}