.backContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #02040a;
    animation: animateColor 5s linear infinite;
}
@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.theDot {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}
.theDot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ff0a; 
    box-shadow: 0 0 10px #00ff0a,
               0 0 20px #00ff0a,
               0 0 40px #00ff0a,
               0 0 60px #00ff0a,
               0 0 80px #00ff0a,
               0 0 100px #00ff0a;
    border-radius: 50%;
    transform: scale(0);
    transition: 2s;
}
.theDot:hover::before {
    transform: scale(1);
    transition: 0s;
}

.titleText {
    color: white;
    position: absolute;
    top: 24%;
    left: 15%;
}
.noOverlay {
    pointer-events: none;

}
.emptyTag1 {
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 40px;
    color: gray;
}
.emptyTag2 {
    position: absolute;
    left: 10%;
    top: 65%;
    font-size: 40px;
    color: gray;
}

.myName {
    font-size: 72px;
    background: rgb(174,112,236);
    background: linear-gradient(350deg, rgba(174,112,236,1) 0%, rgba(1,222,190,1) 100%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#homeText1 {
    font-size: 75px;
}
#homeText2 {
    font-size: 75px;
}
#homeText3 {
    font-size: 24px;
}

.typingEf {
    /* position: relative; */
}
.op0 { opacity: 0; }

.typingEf::after {
    content: "";
    position: relative;
    border-right: 2px solid white;
    height: 90%;
    right: -5px;
    animation: typeBlink 1s infinite steps(2);
}

@keyframes typeBlink {
    0% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    .titleText {
        left: 20%;
    } 
    
}
@media only screen and (max-width: 1024px) {
    #homeText1 {
        font-size: 38px;
    }
    #homeText2 {
        font-size: 38px;
    }
    #homeText3 {
        font-size: 24px;
    }
    .titleText {
        top: 28%;
    }
}