

.myNavbar {
    background-color: #02040a;
}

.contactMeButton {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 18px;
    border: 0px solid;
    border-radius: 10px;
    background: rgb(174,112,236);
    background: linear-gradient(350deg, rgba(174,112,236,1) 0%, rgba(1,222,190,1) 100%);    
}
.contactMeButton:hover {
    animation: animateColor 2s linear infinite;
    
}
.navLink {
    color: white;
    transition: 300ms ease-in-out;
}
.navLink:hover {
    color: #01debe;
}
 
@media only screen and (min-width: 992px) {
    .navLink {
        position: relative;
        left: 50px;
    }
}