.skillContainerBorder {
    border-radius: 20px;
    width: 90%;
    height: 400px;
}

.skillContainerIn {
    background-color: #0D1116;
    width: 98%;
    height: 97%;
    border-radius: 20px;
}

.skillContainerBorder:hover {
    animation: animateColor 2s linear infinite;
}
@media only screen and (max-width: 1624px) {
    .skillItemText {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1625px) {
    .skillItemText {
        font-size: 24px;
    }
}